<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251732615818-i7i3ht1qbkufbg1vpcffipqn45gtnsto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251732615818-i7i3ht1qbkufbg1vpcffipqn45gtnsto</string>
	<key>API_KEY</key>
	<string>AIzaSyBhU7JFT99kLAI350gSoiembbn_owB7MgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>251732615818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstApp</string>
	<key>PROJECT_ID</key>
	<string>firstproject-1572b</string>
	<key>STORAGE_BUCKET</key>
	<string>firstproject-1572b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251732615818:ios:b3ac156da437ebc1b54373</string>
</dict>
</plist>